.title {
	font-weight: 800;
	@include fonts-size(320px, 1920px, 30px, 70px, 1.5, left);
	text-align: center;

	color: $black;
}
.text {
	font-weight: 400;
	@include fonts-size(320px, 1920px, 20px, 30px, 1.5, left);
	text-align: center;

	color: $grey;
}

.about {
	&__wrapper {
		padding: 1vw 0 3.1vw 0; // 1.43em 0 4.29em 0
		@media (min-width: 1921px) {
			padding: 1.43rem 0 4.29rem 0;
		}
	}
	&__title {
		text-align: left;
		margin: 0 0 0.71em 0;
		@media (min-width: 1024px) and (max-width: 1440px) {
			font-size: 40px;
			line-height: 1.5;
		}
	}
	&__text {
		text-align: left;
		margin: 0 0 1.67em 0;
		@media (min-width: 1024px) and (max-width: 1440px) {
			font-size: 30px;
			line-height: 1.5;
		}
	}
	&__button {
		@media (max-width: 400px) {
			width: 100%;
			text-align: center;
		}
	}
	&__image {
		max-width: 100%;
	}
}
@media (max-width: 1023.98px) {
	.about {
		&__inner {
			flex-direction: column;
		}
		&__content-block {
			margin: 0 0 1.42rem 0;
		}
		&__title {
			text-align: center;
			margin: 0 0 0.28em 0;
		}
		&__text {
			text-align: justify;
			margin: 0 0 0.66em 0;
		}
	}
}
@media (min-width: 1024px) {
	.about {
		&__inner {
			display: flex;
		}

		&__content-block {
			flex: 0 1 50%;
			margin: 0 3.7vw 0 0;
			padding: 2.5vw 0 0 0; //3.43em 0 0 0
			@media (min-width: 1921px) {
				padding: 3.43rem 0 0 0;
				margin: 0 5.07rem 0 0;
				flex: 0 1 53.07rem;
			}
		}
		&__image-block {
			flex: 0 1 50%;
			@media (min-width: 1921px) {
				flex: 0 1 59.57rem;
			}
		}
	}
}