.certificate {
	&__inner {
		margin-bottom: 240px;
		@include width-margin(1024px, 0  0 180px 0);
		@include width-margin(768px, 0 0 120px 0);
		@include width-margin(500px, 0 0 60px 0);
	}
	&__title {
		margin-bottom: 31px;
		text-align: center;

		@include width-fonts(1024px, 60px, 85px);
		@include width-fonts(768px, 50px, 65px);
		@include width-fonts(500px, 40px, 45px);

		@include width-margin(1024px, 0 0 21px 0);
		@include width-margin(768px, 0 0 11px 0);
		@include width-margin(500px, 0 0 0 0);
	}
	&__captions {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 10% 62px 10%;
		@include width-margin(1024px, 0 0 42px 0);
		@include width-margin(768px, 0 0 22px 0);
		@include width-margin(500px, 0 0 0 0);
	}
	&__caption {
		max-width: 100%;
		padding: 0 10px;

		&:first-child {
			@media (min-width: 886px) {
				margin-right: -70px;
			}
			@media (max-width: 886px) {
				margin-bottom: -25px;
			}
		}
	}


	&__info {
		display: flex;

		@extend %hover20;
	}

	&__image {
		flex: 0 1 615px;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 0;
		padding: 8px 60px 20px 60px;

		background-color: $bggreen;
	}
	&__content-inner {
		flex: 0 1 752px;
	}
	&__data {
		display: flex;
		justify-content: space-between;
		margin: 0 -10px 123px -10px;
		@include width-margin(1024px, 0 -10px 100px -10px);
		@include width-margin(768px, 0 -10px 80px -10px);
		@include width-margin(500px, 0 -10px 60px -10px);
	}
	&__item {
		flex: 0 1 0;
		padding: 0 10px;
	}

	&__number {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 800;
		font-size: 70px;
		line-height: 105px;
		text-align: center;

		color: $green;

		@include width-fonts(1024px, 60px, 85px);
		@include width-fonts(768px, 50px, 65px);
		@include width-fonts(500px, 40px, 45px);
	}
	&__text {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 45px;
		text-align: justify;

		color: $green;

		&_last {
			width: 204px;
		}

		@include width-fonts(1024px, 27px, 40px);
		@include width-fonts(768px, 24px, 35px);
		@include width-fonts(500px, 21px, 30px);
	}
	&__quote {
		position: relative;
	}
	&__quote-image {
		position: absolute;
		top: -55px;
		left: -45px;
		z-index: 0;
	}
	&__blockquote {
		position: relative;
		z-index: 1;
		margin-bottom: 60px;
		@include width-margin(1024px, 0 0 50px 0);
		@include width-margin(768px, 0 0 40px 0);
		@include width-margin(500px, 0 0 30px 0);

		@include width-fonts(1024px, 23px, 35px);
		@include width-fonts(768px, 21px, 32px);
		@include width-fonts(500px, 19px, 29px);

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 38px;

		color: $txcol;
	}
	&__author {
		font-family: 'Poppins';
		font-style: italic;
		font-weight: 500;
		font-size: 25px;
		line-height: 38px;

		color: $green;
	}
	@media (max-width: 1024px) {
		&__caption {
			width: 200px;
		}
		&__info {
			flex-flow: column nowrap;
		}
		&__image {
			max-width: 100%;
			height: 400px;
			order: 2;
		}

		&__content {
			padding:  8px 40px 20px 40px;
			order: 1;
		}

		&__data {
			flex-wrap: wrap;
		}
		&__text {
			&_last {
				width: 100%;
			}
		}
		&__quote-image {
			width: 80px;
			top: -42px;
			left: -28px;
		}
	}
	@media (max-width: 500px) {
		&__quote-image {
			width: 60px;
			top: -32px;
			left: -18px;
		}
	}
}


