.button {
	padding: 0.86em 3.52em;

	font-weight: 700;
	text-transform: capitalize;
	@include fonts-size(320px, 1920px, 20px, 25px, 1.48, left);

	color: $white;
	background-color: $green;
	border-radius: 20px 20px 20px 0px;

	transition: 50ms;

	white-space: nowrap;
	caret-color: transparent;

	&_hover:hover {
		background-color: $hvrgreen;
	}
	&_active:active {
		background-color: $yellow;
	}
}
.header {
	&__wrapper {
		padding: 4.42vw 0;
		@media (min-width: 1921px) {
			padding: 85px 0;
		}
	}
	&__inner {
		display: -webkit-box;
		align-items: center;
		justify-content: space-between;
		position: relative;
		@media (max-width: 1440px) {
			display: flex;
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		caret-color: transparent;
	}
	&__menu {
		padding: 0 20px 0 15px;

		flex: 0 1 655px;
	}
	&__button {
		font-weight: 500;

		border-radius: 20px;
	}



	&__menu-burger,
	&__menu-burger::before,
	&__menu-burger::after {
		display: none;
		position: relative;

		width: 45px;
		height: 5px;

		background-color: $green;
		border-radius: 5px;

		caret-color: transparent;
	}
	&__menu-burger::before,
	&__menu-burger::after {
		content: " ";
		position: absolute;
		right: 0;
	}
	&__menu-burger::before {
		top: -15px;
	}
	&__menu-burger::after {
		top: 10px;
	}

	&__sign-up {
		display: none;
		&_active:active {
			width: 58px;
		}
	}

}
.logo {
	&__image {
		margin-right: 4px;

		width: 37px;
	}
	&__item {
		max-width: 100%;
		position: relative;
	}
	&__name {
		padding: 5px 10px;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 800;
		@include fonts-size(320px, 1920px, 25px, 35px, 1.48, left);
		text-transform: capitalize;

		color: #58A9A5;
		caret-color: transparent;

		&_hover:hover {
			color: $hvrgreen;
		}
		&_active:active {
			color: $yellow;
		}
	}
}
.menu {
	&__items {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		text-align: center;
	}
	&__link {
		position: relative;

		padding: 5px 10px;

		font-weight: 400;
		text-transform: capitalize;
		font-size: 25px;
		line-height: 1.5;

		color: $grey;
		caret-color: transparent;

		&::before {
			transition: left 200ms ease-in-out, width 200ms, background-color 200ms;
			transition-timing-function: ease-in-out;

			content: " ";
			position: absolute;
			bottom: -4px;
			left: 0;
			width: 0;
			border-radius: 21px;
			height: 6px;
			background-color: transparent;
		}
		&_hover:hover {
			color: $hvrgreen;
			text-shadow: 0 0 1px $green, 0 0 1px $green, 0 0 1px $green, 0 0 1px $green, 0 0 1px $green;

			&:hover::before {
				left: 25%;
				width: 50%;

				background-color: $yellow;
			}
		}
		&_active:active {
			color: $yellow;
		}

	}
}

@media (max-width: 1023.98px) {
	.header {
		&__inner {
		}
		&__logo {
			margin-right: auto;
			position: relative;
			z-index: 3;
		}
		&__menu {
			position: fixed;
			z-index: 2;
			top: 0;
			right: -100%;
			height: 100vh;
			width: 300px;
			padding-top: calc(60px + 9vw);
			overflow: auto;

			background-color: $dark-green;

			&::before {
				content: " ";
				position: fixed;
				top: 0;
				right: -100%;
				height: calc(60px + 9vw);
				width: 300px;

				background-color: $dark-green;
				z-index: 1;
				@media (max-width: 500px) {
					width: 100vw;
				}
			}
			@media (max-width: 500px) {
				width: 100vw;
			}
		}
		&__button {
			margin-right: 30px;
			position: relative;
			z-index: 3;
		}
		&__menu-burger,
		&__menu-burger::before,
		&__menu-burger::after {
			position: relative;
			z-index: 3;
			display: block;
		}
		&__button {
			display: none;
		}
		&__sign-up {
			position: absolute;
			z-index: 3;
			right: 60px;
			top: 0;

			width: 53px;
			display: block;

			&_active:active {
				top: -2px;
				right: 58px;

				width: 58px;
			}
		}
		&__sign-up-image {
			max-width: 100%;
			display: block;
		}
	}
.menu {
		&__items {
			flex-direction: column;
		}
		&__item {
			margin: 0 0 20px 0;
			&:last-child {
				margin: 0;
			}
		}
		&__link {
			color: $white;
		}
	}
}
.burger-link,
.close-burger {
	position: absolute;
	z-index: 3;
	top: 2px;
	right: -2px;
	height: 50px;
	width: 55px;
}
.close-burger {
	display: none;
}

.header:target .header__menu, .header:target .header__menu::before{
	transition: 1s;
	right: 0;
}
.header:target .close-burger{
	display: block;
}
.header__wrapper:target .header__menu, .header__wrapper:target .header__menu::before {
	transition: 1s;
	right: -100%;
}


.header:target .header__menu-burger::before {
	transform: rotate(315deg);
	background-color: $yellow;
	top: 0px;
	transition: 1s;
}
.header:target .header__menu-burger {
	background-color: transparent;
	transition: 0.2s;
}
.header:target .header__menu-burger::after {
	transform: rotate(-315deg);
	background-color: $yellow;
	top: -4px;
	transition: 1s;
}

.header__wrapper:target .header__menu-burger::before {
	transform: rotate(0deg);
	background-color: $green;
	top: -15px;
	transition: 1s;
}
.header__wrapper:target .header__menu-burger {
	background-color: $green;
	transition: 0.3s 0.7s;
}
.header__wrapper:target .header__menu-burger::after {
	transform: rotate(0deg);
	background-color: $green;
	top: 10px;
	transition: 1s;
}
