
.how {
	&__content {
		margin-bottom: 120px;
		@include width-margin(1024px, 0 0 100px 0);
		@include width-margin(768px, 0 0 70px 0);
		@include width-margin(500px, 0 0 50px 0);
	}
	&__inner-1 {
		margin-bottom: 150px;
		@include width-margin(1024px, 0 0 80px 0);
		@include width-margin(768px, 0 0 50px 0);
		@include width-margin(500px, 0 0 30px 0);
	}
	&__description {
		max-width: 506px;
		margin: 0 auto;
	}
	&__title {
		text-align: center;
		margin: 0 0 20px 0;
		width: 100%;

		@include width-margin(1024px, 0 0 10px 0);
	}
	&__text {
		width: 100%;
		margin-bottom: 71px;

		@include width-text-align(500px, justify);

		@include width-margin(1024px, 0 0 50px 0);
		@include width-margin(768px, 0 0 30px 0);
		@include width-margin(500px, 0 0 10px 0);
	}
	&__video {
		@extend %hover20;
	}


	&__row1 {
		display: flex;
		justify-content: space-between;
	}

}
.row {
	&__move {
		display: block;
		max-width: 100%;
	}
	&__items {
		display: flex;
		justify-content: space-between;
	}
	&__item-1 {
		flex: 0 1 1063px;
	}
	&__item-2 {
		flex: 0 1 549px;
	}
	&__description-column {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative; //* для кнопки

		background-color: $bggreen;
	}
	&__description-inner {
		flex: 0 1 328px;
		padding: 0 10px;
	}



	&__text {
		margin-bottom: 35px;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		text-align: justify;

		color: $txcol;

		@media (max-width: 444px) {
			padding-top: 20px;
		}
		@include width-text-align(1024px, center);
		@include width-text-align(500px, justify);
	}
	&__player-text {
		position: relative;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 3px;
		text-transform: uppercase;

		color: $txcol;

		@media (max-width: 444px) {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 1024px) {
	.how {
		&__row1 {
			flex-direction: column;
			flex: 0;
		}
	}
	.row {
		&__items {
			justify-content: center;
		}
		&__item-1 {
			flex: 0;
			order: 2;
		}
		&__item-2 {
			flex: 0 1 200px;
			order: 1;
		}
		&__description-column {
			display: flex;
		}
		&__description-inner {
			flex: 0 1 90%;
		}
		&__text {
			margin-bottom: 20px;
		}
		&__player-text {
			text-align: center;
		}
	}
}

.how {
	&__row2 {
		display: flex;
		justify-content: space-between;
	}
	&__items {
		display: flex;
	}
	&__item-1 {
		flex: 0 1 642px;
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		display: block;

		@extend %hover20;
	}
	&__item-2 {
		display: flex;
		margin-left: 20px;
		justify-content: center;
		flex: 0 1 60%;

		@include width-margin(1024px, 0 0 50px 0);
		@include width-margin(768px, 0 0 30px 0);
		@include width-margin(500px, 0 0 20px 0);
	}
	&__description-right {
		flex: 0 1 708px;
	}


	&__desc-title {
		margin-bottom: 50px;
		@include width-margin(1024px, 0 0 40px 0);
		@include width-margin(768px, 0 0 25px 0);
		@include width-margin(500px, 0 0 10px 0);

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 60px;

		color: $textcol1;

		@include width-fonts(1024px, 37px, 55px);
		@include width-fonts(768px, 34px, 50px);
		@include width-fonts(500px, 31px, 45px);
	}
	&__desc-text {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		line-height: 45px;
		@include width-text-align(1024px, justify);

		color: $txcol;

		@include width-fonts(1024px, 27px, 40px);
		@include width-fonts(768px, 24px, 35px);
		@include width-fonts(500px, 21px, 30px);
	}
}

@media (max-width: 1024px) {
	.how {
		&__row2 {
			flex-direction: column-reverse;
			align-items: center;
		}
		&__item-1 {
			flex: 0 1 642px;
			flex: 0;
		}
		&__image {
			width: 100%;
			height: auto;
		}
		&__item-2 {
			margin-left: 0;
		}
		&__description-right {
			flex: 0 1 642px;
		}
	}
}

