.project {
	&__wrapper {
		padding: 3.125vw 0 6.5vw 0;

		@media (min-width: 1921px) {
			padding: 4.29rem 0 8.923rem 0;
		}
	}
	&__container {
	}
	&__inner {
	}
	&__title-block {
		margin: 0 0 8.34vw 0;

		position: relative;

		@include margin(768px, 0 0 1.43rem 0);
		&::before, &::after {
			content: " ";
			position: absolute;
			bottom: -3.64rem;

			left: 50%;
			transform: translate(-50%, 0);

			width: 9.64rem;
			height: 3px;

			background-color: $green;
		}
		&::after {
			bottom: -4.71rem;
		}

		@media (max-width: 1440px) {
			&::before {
				bottom: -3rem;
			}
			&::after {
				bottom: -4.07rem;
			}
		}
		@media (max-width: 1024px) {
			&::before {
				bottom: -1.92rem;
			}
			&::after {
				bottom: -3rem;
			}
		}
		@media (max-width: 768px) {
			&::before, &::after {
				display: none;
			}
		}

		@media (min-width: 1920px) {
			margin: 0 0 11.42rem 0;
		}
	}
	&__title {
		margin: 0 0 0.285em 0;

		@media (min-width: 1921px) {
			margin: 0 0 20px 0;
		}
	}
	&__text {
	}
	&__content {
	}
}

.content-project {
	&__item {
		display: flex;
		flex-direction: column;

		&_hover:hover > .content-project__image-block {
			border-radius: 3px;

			transform: scale(110%);
		}

		&_circle {
		}
	}
	&__text {
		&_circle {
		}
	}
	&__title {
		margin: 0 0 0.124em 0;

		font-weight: 700;
		@include fonts-size(320px, 1920px, 25px, 40px, 1.5, left);

		color: $green;
	}
	&__description {
		margin: 0 0 2.5rem 0;
		@include margin(1024px, 0 0 1.43rem 0);

		font-weight: 500;
		font-size: 20px;
		line-height: 30px;

		color: $dark-green;

	}
	&__image-block {
		max-width: 100%;

		border-radius: 0 0 50% 50%;
		overflow: hidden;

		transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

		&_circle {
			border-radius: 50%;
		}
	}
	&__image {
		width: 100%;
		height: 100%;

		object-fit: cover;
	}
}

@media (max-width: 767.98px) {
	.content-project {
		&__item {
			margin: 0 0 2.14rem 0;

			position: relative;

			&::before {
				content: " ";
				position: absolute;
				bottom: -21px;
				left: 50%;
				transform: translate(-50%, 0);

				width: 100%;
				height: 3px;

				@media (max-width: 500px) {
					height: 2px;
				}

				background-color: $green;

				transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
			}
		}
		&__item {
			&_hover:hover > .content-project__image-block {
				transform: scale(100%);
			}
			&_hover:hover::before {
				width: 50%;
			}
		}
		&__description {
			text-align: justify;
		}
	}
}


@media (min-width: 768px) {
	.project {
		&__content {
			display: flex;
		}
	}
	.content-project {
		&__item {
			margin: 0 6.25vw 0 0;

			flex: 0 1 33.3333%;
		}
		&__item:last-child {
			margin: 0;
		}

		&__text {
			flex: 1 1 auto;

			&_circle {
				order: 2;
			}
		}
		&__description {
			&_circle {
				margin: 0;
			}
		}
		&__image-block {
			&_circle {
				order: 1;

				margin: 0 0 2.5rem 0;
			}
		}
	}
}
